# NyanSoC nyanrv formal verification checks
#
# ISA: RV32I + Zicsr (M-mode only, aligned memory, NRET=1)

[options]
isa rv32i

[depth]
insn 10
reg 5 10
pc_fwd 5 10
pc_bwd 5 10
unique 1 4 10
causal 5 10
cover 1 6
csrw 10
csr_ill 10

[csrs]
mstatus
mtvec
mscratch
mepc
mcause
mtval

[defines]
`define YOSYS
`define RISCV_FORMAL_ALIGNED_MEM

[verilog-files]
@basedir@/cores/@core@/wrapper.sv
@basedir@/../../rtl/nyanrv.v

[cover]
always @* if (!reset) cover (channel[0].cnt_insns == 2);
