# NyanSoC nyanrv formal verification checks
#
# ISA: RV32IM + Zicsr (M-mode only, aligned memory, NRET=1)

[options]
isa rv32im

[depth]
insn 40
reg 35 40
pc_fwd 35 40
pc_bwd 35 40
unique 36 38 42
causal 35 40
cover 35 38
csrw 40
csr_ill 40

[csrs]
mstatus
mtvec
mscratch
mepc
mcause
mtval

[defines]
`define YOSYS
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_ALTOPS

[verilog-files]
@basedir@/cores/@core@/wrapper.sv
@basedir@/../../rtl/nyanrv.v

[cover]
always @* if (!reset) cover (channel[0].cnt_insns == 2);
